* {
    margin: 0;
    padding: 0;
}

// table {
//     border-collapse: collapse;
// }

li {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    vertical-align: middle;
}